.configure-container {
  width: 90%;
  margin: auto;
  padding: 0 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-top: 18px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 48px;
  .title {
    font-family: Lato;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
  }
  .primary {
    background: #6271dd;
    color: #ffffff;
    border: 1px solid white;
    margin: 0 12px;
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .configure-img-container {
    align-items: center;
    display: flex;
  }
}
