.configure-container {
  font-family: Lato;
  width: 90%;
  margin: auto;
  padding: 0 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-top: 18px;
  border-radius: 20px;
  background-color: white;
  padding: 48px;
  .instruction-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    .help-container {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      .help-link {
        color: blue;
        cursor: pointer;
      }
    }
  }
  .title {
    font-family: Lato;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    align-self: flex-start;
    margin-bottom: 40px;
  }
  .primary {
    background: #6271dd;
    color: #ffffff;
    border: 1px solid white;
    margin: 0 12px;
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
  }
  .configure-img-container {
    align-items: center;
    display: flex;
  }
}

.configure-app-container {
  .title {
    font-family: Lato;
    font-size: 16px;

    line-height: 20px;
    text-align: left;
    display: flex;
    align-self: baseline;
    label {
      color: #42526e;
      font-weight: 400;
      input {
        margin-right: 10px;
      }
    }
    img {
      align-self: flex-start;
    }
    .info-desc-container {
      margin-left: 20px;
      .info {
        color: red;
      }
      .description {
        font-weight: 400;
      }
    }
  }
  .app-list {
    list-style: decimal;
  }
}

.configure-display-container {
  .title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-self: baseline;
    img {
      align-self: flex-start;
    }
    .info-desc-container {
      margin-left: 20px;
      .info {
        color: red;
      }
      .description {
        font-weight: 400;
      }
    }
  }
  .display-info {
    list-style: decimal;
  }
}

.configure-notification-container {
  .title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-self: baseline;
    img {
      align-self: flex-start;
    }

    .info-desc-container {
      margin-left: 20px;
      .info {
        color: red;
      }
      .description {
        font-weight: 400;
      }
    }
  }
}
