$font-family: "Lato";
$primary-color: #6271dd;
$white: #ffffff;
$text-color: #42526e;
$error-color: red;
$base-margin: 20px;

.configure-container {
  font-family: $font-family;
  width: 90%;
  margin: 18px auto 100px;
  padding: 48px 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: $white;

  .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    align-self: flex-start;
    margin-bottom: 40px;
  }

  .primary {
    background: $primary-color;
    color: $white;
    border: 1px solid $white;
    margin: 0 12px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
  }

  .disable {
    opacity: 0.5;
  }

  .configure-img-container {
    display: flex;
    align-items: center;
  }

  .instruction-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;

    .help-container {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;

      .help-link {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
      }
    }
  }
}

.configure-app-container,
.configure-display-container,
.configure-notification-container {
  .title {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-self: baseline;

    label {
      color: $text-color;
      font-weight: 400;

      input {
        margin-right: 10px;
      }
    }

    img {
      align-self: flex-start;
    }

    .info-desc-container {
      margin-left: $base-margin;

      .info {
        color: $error-color;
      }

      .description {
        font-weight: 400;
      }
    }
  }
}

.configure-app-container {
  .title {
    font-weight: 400;
  }

  .app-list {
    list-style: decimal;
  }
}

.configure-display-container,
.configure-notification-container {
  .title {
    font-weight: 700;
  }

  .display-info,
  .notification-info {
    list-style: decimal;
  }
}
