// Define common variables
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$border-color: #ccc;
$focus-border-color: #66afe9;
$input-padding: 8px;
$font-size: 16px;
$border-radius: 4px;

.input-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.input-box {
  flex: 1;
  padding: $input-padding;
  font-size: $font-size;
  border-radius: $border-radius 0 0 $border-radius;
  border: 1px solid $border-color;
  border-right: none;

  &:focus {
    outline: none;
    border-color: $focus-border-color;
  }
}

.open-button {
  padding: $input-padding 16px;
  font-size: $font-size;
  border-radius: 0 $border-radius $border-radius 0;
  border: 1px solid $border-color;
  background-color: $primary-color;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover-color;
  }

  &:focus {
    outline: none;
  }
}
