.system-info-modal-container {
  width: 90%;
  margin: 20px auto 24px;
  padding: 0 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 16px;
  height: calc(100vh - 120px);
  justify-content: center;
  .candidate-env {
    width: 393.65px;
    height: 225px;
  }
  .info-container {
    .title {
      font-family: Lato;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      text-align: left;
    }
    .sub-title {
      margin: 16px 0 26px;
      font-family: Lato;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      text-decoration: underline;
      a {
        color: #2f2b82;
      }
    }
    .action-container {
      display: flex;
      flex-direction: column;

      input[type='checkbox'] {
        display: none;
      }
      .custom-checkbox {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: white; /* Default color */
        border: 1px solid #cad1d7;
        border-radius: 4px;
        vertical-align: middle;
        cursor: pointer;
      }
      .custom-checkbox::after {
        margin-right: 7px;
        content: '';
        position: absolute;
        left: 5px;
        top: 2px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }
      input[type='checkbox']:checked + .custom-checkbox {
        background-color: #6271dd; /* Checked color */
      }

      input[type='checkbox']:checked + .custom-checkbox::after {
        opacity: 1;
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
      }
      label {
        cursor: pointer;
        margin-left: 8px;
        font-size: 14px;
        &.bold {
          font-weight: 600;
        }
      }
      input {
        margin: 16px 7px 0;
        vertical-align: bottom;
      }
    }
    .disable {
      background: #c4c9d1 !important;
    }
    .configure-sub-os {
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      box-sizing: border-box;
      padding: 12px 20px 12px 20px;
      border-radius: 4px;
      cursor: pointer;
      background: #6271dd;
      color: #ffffff;
      border: 1px solid white;
      margin-top: 9px;
    }
  }
}
